.page-link{
    background-color: brown!important;
    color:white!important;
}

/* .product-itemm{
   
    background-color: aqua;
  } */
.imgContainerr{
    height: 500px !important;

}

.product-details{
    text-decoration: none !important;
    color:white;
    background-color: burlywood;
    font-size: 22px;
    width:100px;
}

.commenter-image{
    width:200px;
    height:200px;
}